<img src="../assets/img/hiclipart.com.png" alt="burger">
<h1>Eat-Da-Burger!</h1>

<div class = "eat-ate-container">
    <div class="eat">
        <ol>
        {{#each burgers}}
            {{#unless devoured}}
                <div id="eat-item">
                    <li >
                        {{burger_name}}
                        <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
                            {{#unless devoured}}devour it!{{/unless}}
                        </button>
                    </li>
                </div>
            {{/unless}}
        {{/each}}
        </ol>
    </div>
    <table class="ate">
        {{#each burgers}}
            {{#if devoured}}
            <tr id = "ate-item">
                <td>                
                    {{burger_name}}                   
                </td>
            </tr>
            {{/if}}
        {{/each}}
    </table>
</div>

<div class="new-burger-form">
    <h2>Add a burger!</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="bur"></label>
            <input type="text" id="bur" name="name">
        </div>
        <button class="add-burger-button" type="submit">Add burger</button>
        <p>Enter a burger you want to eat then click the the add burger button</p>
    </form>
</div>

<script>
    $(function() {
        $(".change-devoured").on("click", function(event) {
            var id = $(this).data("id");
            // Send the PUT request.
            $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: {devoured:1}
            }).then(
            function() {
                console.log("changed devoured to true");
                // Reload the page to get the updated list
                location.reload();
            }
            );
        });
        
        $(".create-form").on("submit", function(event) {
            event.preventDefault();
            var newBurger = {
            burger_name: $("#bur").val().trim(),
            devoured: 0
            };
            // Send the POST request.
            $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
            }).then(
            function() {
                console.log("created new burger");
                // Reload the page to get the updated list
                location.reload();
            }
            );
        });
    });
</script>